body {
  background-color: #181a1b;
  margin: 0;
}
.main {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 20vw auto;
}
.aside {
  grid-column: 1/2;
  justify-content: stretch;
  border-right: 1px solid;
  border-color: #17696c;
  padding-right: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}
.aside h1 {
  color: wheat;
  text-shadow: #17696c 1px 1px 30px;
  font-weight: bold;
}
.aside h2 {
  color: wheat;
  text-shadow: #17696c 1px 1px 30px;
}
.aside p {
  color: wheat;
  font-size: 1.4em;
  text-shadow: #17696c 1px 1px 10px;
  text-align: start;
}
.player {
  padding-left: 100px;
  padding-top: 50px;
}
.player iframe {
  box-shadow: #17696c 1px 1px 20px;
  height: 60vh;
  width: 70vw;
}
