body {
  background-image: url(../blue.png);
 /* background-size: cover;*/
  /*background-image: url(../background4x.png);*/
  background-size: cover;
  background-color: #181a1b;
  margin: 0;
}
.main{
  margin-top: 60px;
  margin-left: 20px;
  margin-left: -10px;
}
.suraindex h3 {
  color: wheat;
  text-shadow: #17696c 1px 1px 30px;
}
.suraindex a {
  text-decoration: none;
  color: wheat;
}
.suraindex li {
  list-style-image:url(../quran-w.png);
  font-size: 2em;
  font-weight: 900;
  color: wheat;
  text-shadow: #17696c 2px 2px 30px; 
  margin-bottom: 3px;
  margin-left: 30px;
}
.suraindex a:visited {
  color: wheat;
  font-style: 900;
  text-decoration: none;
}
.suraindex a:hover {
  text-decoration: none;
  font-size: 2.01rem;
  color: hsl(39, 77%, 73%);
}
/* suraidex.css */

/* Style for the links */
.suraindex li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.suraindex li a:hover {
  background-color: #f0f0f0;
}

/* Active link effect */
.suraindex li a.active {
  background-color: #3498db; /* Change to your desired active link background color */
  color: #fff; /* Change to your desired active link text color */
}
