body {
  /*background-image: url(../background4x.png);*/
  background-size: cover;
  background-color: #181a1b;
  margin: 0;
}
.main{
  margin-top: 60px;
  margin-left: -10px;
}
.suraindex h3 {
  color: wheat;
  text-shadow: #17696c 1px 1px 30px;
}
.suraindex a {
  text-decoration: none;
}
.suraindex li {
  list-style: none;
  font-size: 2em;
  font-weight: 900;
  color: wheat;
  text-shadow: #17696c 2px 2px 30px; 
  margin-bottom: 3px;
}
.suraindex a:visited {
  color: wheat;
  font-style: 900;
  text-decoration: none;
}
.suraindex a:hover {
  text-decoration: none;
  font-size: 2.01rem;
  color: hsl(39, 77%, 73%);
}
