body {
  background-image: url(../background4x.png);
  background-size: cover;
  background-color: #1F5E3B;
  margin: 0;
}
.suraindex h3 {
  color: wheat;
  text-shadow: black 1px 1px 50px;
}
.suraindex a {
  text-decoration: none;
}
.suraindex li {
  /*list-style: none;*/
  font-size: 2em;
  font-weight: 500;
  color: wheat;
  text-shadow: black 1px 1px 50px;
}
.suraindex a:visited {
  color: wheat;
  font-style: normal;
  text-decoration: none;
}
.suraindex a:hover {
  text-decoration: none;
  font-size: 2.01rem;
  color: hsl(39, 77%, 73%);
}
